---
import { Button } from '@components/Button.jsx'
import { Icons } from '@components/Icons.jsx'
import SectionTitle from '@components/SectionTitle.astro'

const speakers = [
	{
		id: 'teffcode',
		name: 'Estefany Aguilar',
		title: 'Por confirmar',
		description: 'Por confirmar',
		twitter: 'https://twitter.com/teffcode',
		github: ''
	},
	{
		id:	'bolonio',
		name: 'Adrian Bolonio',
		photo: 'bolonio.webp',
		title: 'Por confirmar',
		description: 'Por confirmar',
		twitter: 'https://twitter.com/bolonio',
		github: 'https://github.com/bolonio'
	}
]
---

<section id='speakers' class='break-words text-white py-24 mx-auto max-w-prose md:px-2 min-h-screen mt-28'>
	<SectionTitle
		title='Speakers' />

	<div class='py-24 flex items-center justify-center flex-col text-center gap-y-8'>
		<ul class='-rotate-[10deg] flex flex-row flex-wrap gap-x-4 text-center items-center justify-center pb-40'>
			{
				speakers.map((speaker, index) => (
					<>
						<li class='inline-block'>
							<a class='font-black text-3xl italic text-primary hover:text-white transition uppercase' href={`/#${speaker.id}`}>
								{speaker.name}
							</a>
						</li>
						{
							index !== speakers.length - 1 && (
								<li class='font-black text-2xl italic text-primary'>
								·
								</li>
							)
						}
					</>
				))
			}
		</ul>

		{speakers.map((speaker) => (
			<>
				<article id={`${speaker.id}`} class='h-screen w-full'>
					<div class='h-full relative flex flex-col flex-start items-start justify-start'>
						<img class='w-2/3 h-auto drop-shadow-[5px_5px_100px_rgba(255,255,255,.2)]' alt={`Fotografía de ${speaker.name}`} src={`/${speaker.id}.png`} />
						<footer class='absolute bottom-28'>
							<h3 class='[text-shadow:0_0_20px_black] uppercase text-primary text-9xl leading-[.8em] -rotate-[10deg] italic font-black text-center'>{speaker.name}</h3>
							<div class='w-80 text-left float-right'>
								<h4 class='font-bold text-3xl text-left mb-4'>{speaker.title}</h4>
								<p class='text-white/80 text-lg'>{speaker.description}</p>
								<div class='flex gap-x-4 text-white mt-4'>
									<a href={`https://github.com/${speaker.github}`} target='_blank' rel='noopener noreferrer'>
										<Icons.github />
									</a>
									<a href={`https://twitter.com/${speaker.twitter}`} target='_blank' rel='noopener noreferrer'>
										<Icons.twitter />
									</a>
								</div>
							</div>

						</footer>
					</div>
				</article>
			</>
		))}
	</div>
</section>
