---
import Time from './Time.astro'

const { className, time = 1679418000000, title, speaker, emoji, id } = Astro.props
---

<article
	class={`relative hover:scale-105 hover:contrast-150 transition cursor-crosshair w-full border-[#222222] border-[1px] flex gap-x-4 px-4 rounded-lg mb-4 ${
		speaker ? 'bg-gray py-4' : 'bg-[#00AAFF] py-1'
	}`}
>
	<span class={'text-xl flex items-center justify-center font-bold text-center w-24'}
	>{time ? <Time time={time} /> : emoji}</span
	>
	<div class='flex flex-col justify-center w-full pr-8'>
		<strong
			class={`text-balance text-[16px] pr-8 max-w-[280px] mobile:max-w-full leading-tight text-left break-words overflow-hidden ${
				speaker ? 'text-primary tablet:text-[24px]' : 'text-black'
			}`}>{title}</strong
		>
		{speaker && <span class='max-w-[280px] mobile:max-w-full'>{speaker}</span>}
	</div>
	{id && <img
		class={`${className} absolute w-28 h-[140px] object-cover object-center right-0 bottom-0 grayscale [mask-image:linear-gradient(to_bottom,_black_70%,transparent_90%)]`}
		alt={`Fotografía de ${speaker}`}
		src={`/${id}.png`}
	/>}
</article>
